:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  background-color: #333;
  color: #eee;
  min-height: 100vh;
}